<section class="topics">
    <div class="row">
        <div class="col-6">
            <app-topics-list></app-topics-list>
        </div>
        <div class="col-6">
            <router-outlet></router-outlet>
        </div>
    </div>
</section>