<div class="topic-detail" *ngIf='topic'>
    <h2>{{topic.name}}</h2>
    <span>Created: {{hours}}:{{minutes}}:{{seconds}}</span>
    <div class="topic-detail-content" *ngIf='topic.comments.length; else info'>
        <div class="topic-comment">
            <div class="user">
                <img src="https://vignette.wikia.nocookie.net/mrbean/images/4/4b/Mr_beans_holiday_ver2.jpg/revision/latest/scale-to-width-down/310?cb=20100424114324" alt="">
            </div>
            <div class="text">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus ea dicta, id illo harum tempore repudiandae
                    cumque ducimus iste ipsum magni amet rerum et omnis aliquam? Fugit ad voluptatem fuga.</p>
            </div>
        </div>
    </div>
    <ng-template #info>
        There are no comments...
    </ng-template>
    <form action="">
        <input type="text" placeholder="Name..." name='name'>
        <textarea name="text"></textarea>
        <button class="btn btn-color">Send</button>
    </form>
</div>