.topic-detail
    box-shadow: 0 0 10px #000
    padding: 30px
    width: 100%
    .topic-comment
        display: flex
        padding-bottom: 30px
        &:last-child
            padding-bottom: 0
        .user
            margin-right: 10px
            img
                width: 85px
                height: 85px
    .topic-detail-content
        padding-bottom: 30px
    form
        display: flex
        flex-direction: column
        align-items: center
        textarea
            margin-bottom: 10px
            width: 100%
            padding: 10px
            border-radius: 0