html
    font-size: 62.5%

ul
    padding: 0
    margin: 0

a
    color: #000
    outline: none
    text-decoration: none
    font-size: 1.4rem

h1, h2, h3, h4, h5, h6
    padding: 0
    margin: 0
    margin-bottom: 30px

h1
    font-size: 3.6rem
h2
    font-size: 3rem
h3
    font-size: 2.8rem

p
    font-size: 1.4rem
    padding-top: 0
    margin-top: 0

button
    border: none
    background: transparent
    cursor: pointer

.btn
    border-radius: 10% 
    height: 35px
    transition: all .3s

.btn-color
    color: #fff
    background-color: #f67280
    font-weight: 700
    padding-left: 15px
    padding-right: 15px
    &:hover
        transform: scale(1.1)

.btn-delete
    color: red
    border: 1px solid red
    padding-left: 15px
    padding-right: 15px
    &:hover
        box-shadow: 0 0 10px red

input, textarea
    border: 1px solid #bbb
    height: 35px
    border-radius: 5%
    background-color: transparent
    padding-left: 10px
    padding-right: 10px

textarea
    height: 100px
    resize: none

