<div class="main">
    <div class="container-fluid">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-9">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>