<div class="topic" routerLinkActive='active'>
    <div class="topic__name">
        <a routerLink='{{topic._id}}'>{{topic.name}}</a>
        <span>{{topic.comments.length}}</span>
    </div>
    <button class="btn btn-delete">Delete</button>
</div>