.topic
    display: flex
    justify-content: space-between
    align-items: center
    position: relative
    a
        font-weight: bold
        margin-right: 10px
    span
        border-radius: 45%
        padding: 5px 10px
        background-color: #f67280
        color: #fff
        cursor: default
        font-size: 1.2rem
    &.active
        &:before
            content: ''
            position: absolute
            left: -30px
            width: 5px
            height: 100%
            background-color: #f67280
        
